@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *:focus-visible {
    outline: 4px solid rgb(147 197 253);
    outline-offset: 2px;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  }

  kbd {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  }
}
